/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); */
.container {
  outline: 1px solid red;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.ops .container {
  display: flex;
  justify-content: space-between;
  gap: 30px; /* Расстояние между элементами */
  flex-wrap: wrap; /* Перенос элементов на новую строку, если они не помещаются */
  padding: 30px 0;
}

#mov {
  width: 30%;
  text-align: center;
  padding: 20px;
}

.ops-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.ops-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.ops-subtitlee {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4D5053;
text-align: center;
font-family: "Jost";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
letter-spacing: 0.36px;
}

.ops-subtitlee img {
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .ops .container {
    flex-direction: column;
    align-items: center;
  }

  #mov {
    width: 80%;
    margin-bottom: 20px;
  }
}
.nav-list {
  padding-top: 38px;
  padding-bottom: 38px;
padding-left: 485px;
  display: flex;
  gap: 40px;
}
.header {
  border-radius: 0px 0px 0px 290px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #cda274;
}
#tut {
  color: #cda274;
}
.nav-link {
  color: var(--main-text);
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  font-size: 20px;
  line-height: 30px;
  flex-wrap: nowrap;
}
.nav {
  display: flex;
}
.nav-item {
  color: #292f36;
  font-family: "Jost";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
  display: flex;
}
a {
  display: flex;
}
.hero {

  background-image: url(./img/beachero.png);
}
.hwon {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; 
  letter-spacing: 0.22px;
  padding-top: 188px;
  width: 595px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-p {
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; 
  letter-spacing: 0.22px;
  width: 595px;
  padding-top: 19px;
  padding-bottom: 35px;
}
.button-hero {
  display: flex;
  background-color: #292f36;
  color: azure;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 67px;
  border-radius: 20px;
  border: none;
  margin-bottom: 260px;
}
.bu-p {
  color: #fff;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; 
  letter-spacing: 0.72px;
}
.nav-img {
  margin-top: 20px;
}
#ops-item {
  justify-content: center;
  padding-top: 175px;
}
.ops-heading {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; 
  letter-spacing: 0.22px;
}
.ops-subtitle {
  color: #4d5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; 
  letter-spacing: 0.22px;
}
.ops-subtitlee {
  color: #4d5053;
  text-align: center;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; 
  letter-spacing: 0.36px;
  padding-top: 68px;
  padding-bottom: 210px;
}
.comand-heading {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; 
  letter-spacing: 0.22px;
  width: 450px;
  flex-wrap: wrap;
}
.tackle-heading {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; 
  letter-spacing: 0.22px;
  width: 450px;
  margin-top: 210px;
  margin-bottom: 42px;
}
.tackle-subtitle {
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; 
  letter-spacing: 0.22px;
}
.q {
  margin-right: 120px;
}
.tackle-heading {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.22px;
  margin-bottom: 42px;
}
.ops-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} 
#mov{
  display: block;
  width: 400px;
  gap: 103px;
 
}
.tackle-subtitle{
  color: #4D5053;
font-family: "Jost";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; 
letter-spacing: 0.22px;
padding-bottom: 46px;
width: 492px;
}
.nomer{
  color: #4D5053;
  font-family: "Jost";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
  letter-spacing: 0.22px;
}
.nomer-name{
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; 
  letter-spacing: 0.22px;
  padding-bottom: 68px;
}
.nomer-bot{
  border-radius: 18px;
border: 2px solid #292F36;
background: #292F36;
color: #FFF;
font-family: "Jost";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
letter-spacing: 0.72px;
padding-bottom: 23px ;
padding-top: 21px;
padding-left: 34px;
padding-right: 67px;
}
  .room{
    margin-left: 1000px;
  display: flex;
background-image: url(./img/room.jpg);
  flex-wrap: nowrap ;
}
.comand{
  border-radius: 70px;
background: #F4F0EC;
}
.comand-heading{
  padding-top: 103px;
  margin-left: 360px;
  display: flex;
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 58.5px; 
  letter-spacing: 0.22px;
}
.comend-opc{
  padding-top: 55px;
  padding-left: 132px;
  padding-right: 79px;
  border-radius: 30px;
  width: 354px;

  padding-right: 75px;
}
.comend-opcc{
  color: #4D5053;
font-family: "Jost";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
letter-spacing: 0.22px;
padding-left: 132px;
padding-right: 79px; 
padding-bottom: 32;
padding-bottom: 32px;
border-radius: 30px;
width: 354px;
padding-right: 75px;
}
.comend-p{
  border-radius: 30px;
  width: 354px;

  color: #4D5053;
font-family: "Jost";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.22px;
padding-right: 75px;
}
.comend{
  width: 354px;
  border-radius: 30px;
background: #FFF;
padding-left: 35px;
padding-right: 75px;
padding-bottom: 45px;
}
.bren{
  padding: 100px 141px;
}
.recent{
  color: #292F36;
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 62.4px; 
letter-spacing: 0.22px;
}
.recent-p{
  color: #4D5053;
text-align: center;
font-family: "Jost";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.22px;
margin-right: 207px;
margin-left: 207px;
}
.roomw{

  border-radius: 0px 80px 0px 0px;
background: url(./img/roomw.jpg) lightgray 50% / cover no-repeat;
margin-top: 71px;
margin-left: 120px; 
margin-bottom: 24px;
}
.roomw-h{
  color: #292F36;
font-family: "DM Serif Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 37.5px; 
letter-spacing: 0.22px;
  margin-left: 120px; 
}
.roomw-p{
  color: #4D5053;
font-family: "Jost";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; 
letter-spacing: 0.22px;
  margin-left: 120px;
  margin-bottom: 61px;
}
.roomt{
  color: #4D5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin-right: 207px;
  margin-left: 20px;
}
.roomw-hh{
  color: #292F36;
font-family: "DM Serif Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 37.5px; 
letter-spacing: 0.22px;
  margin-left: 20px; 
}
.roomw-pp{
  color: #4D5053;
font-family: "Jost";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; 
letter-spacing: 0.22px;
  margin-left: 20px;
  margin-bottom: 61px;
}
.infa{
  background: #F4F0EC;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переходить на новую строку, если не помещаются в одну */
  padding: 0;
  margin: 0;
  list-style-type: none; /* Убирает маркеры списка */
}
.infa li {
  margin-right: 20px; /* Отступ между элементами */
  display: flex;
  align-items: center;
}
.infa-g{
  color: #CDA274;
text-align: center;
font-family: "DM Serif Display";
font-size: 85px;
font-style: normal;
font-weight: 400;
line-height: 127.5px; 
letter-spacing: 1.7px;
}
.infa-o{
  color: #4D5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}
#g{
  border-left: 3px solid #CDA274;
  border-right: 3px solid #CDA274;
}
.recent-h{
  color: #292F36;
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 62.4px; 
letter-spacing: 0.22px;
}
.recent-p{
  width: 589px;
  color: #4D5053;
text-align: center;
font-family: "Jost";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;  
letter-spacing: 0.22px;
}
.recent-nazwa{
  width: 334px;
color: #292F36;
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 35px; 
letter-spacing: 0.5px;
margin-bottom: 34px;
margin-top: 15px;
}
.recent-pp{
  width: 144px;
  color: #4D5053;
font-family: "Jost";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.22px;
}
.re-li{
border-radius: 62px;
border: 1px solid #E7E7E7;
}
.hero .container {
  text-align: center;
  padding: 50px 0;
}

.hwon {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-p {
  font-size: 18px;
  margin-bottom: 30px;
}

.button-hero {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-hero:hover {
  background-color: #555;
}

/* Стили для .ops */



.hwon {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; 
  letter-spacing: 0.22px;
  padding-top: 188px;
  width: 595px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-p {
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; 
  letter-spacing: 0.22px;
  width: 595px;
  padding-top: 19px;
  padding-bottom: 35px;
}
.button-hero {
  display: flex;
  background-color: #292f36;
  color: azure;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 67px;
  border-radius: 20px;
  border: none;
  margin-bottom: 260px;
}
.bu-p {
  color: #fff;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; 
  letter-spacing: 0.72px;
}

p{
  font-family: "Jost";
}
h3{
  font-family: "DM Serif Display";
}
h2{
  font-family: "DM Serif Display";
}
.bren{
  display: flex;
  padding: 0; /* Убираем отступы */
  margin: 0;  /* Убираем маргины */
  list-style: none; /* Убираем маркеры списка */
}

