p{
    font-family: "Jost";
  }
  h3{
    font-family: "DM Serif Display";
  }
  h2{
    font-family: "DM Serif Display";
  }
  #tut {
    color: #cda274;
  }
  .nav {
    display: flex;
  }
  a {
    display: flex;
  }
  .q {
    margin-right: 120px;
  }