.foto{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bren{
    padding: 100px 141px;
    display: flex;
    padding: 0; 
    margin: 0;  
    list-style: none; 
  }