.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  padding-bottom: 260px;
  padding-top: 188px;
    background-image: url(./img/beachero.png);
  }
  .hwon {
    color: #292F36;
  font-family: "DM Serif Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; 
  letter-spacing: 0.22px;
  width: 595px;
  }
  .hero-p {
    color: #4d5053;
    font-family: "Jost";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; 
    letter-spacing: 0.22px;
    width: 595px;
    margin-top: 19px;
    margin-bottom: 35px;
    font-size: 18px;
    margin-bottom: 30px;
  }
.button-hero {
    background-color: #292f36;
    color: azure;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 34px;
    padding-right: 67px;
    border-radius: 20px;
    border: none;
    width: 207px;
  height: 71px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  }
  .button-hero:hover {
    background-color: #555;
  }
  
  